* {
  margin: 0;
  padding: 0;
  font-family: "Macondo Swash Caps";
}
.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.app {
  background: linear-gradient(135deg, #233142, #455d7a, #f95959, #e3e3e3);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.date {
  margin-bottom: 5rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem 3rem;
}
.time {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
  align-items: center;
}
.circle {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1rem;
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .date {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
  
  .circle {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  
  .time {
    gap: 1rem;
    font-size: 2rem;
  }
}
